ion-app {
    background-color: black;
  }
  .custom-loading {
    --background: rgba(2, 2, 2, 0.8); // Ajusta el fondo según sea necesario
    color: #000; // Ajusta el color del texto según sea necesario
  }
  