<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center titulo">
      Inclinometro
    </ion-title>
      <ion-buttons slot="end">
        <ion-button id="popover-button">
          <ion-icon name="settings"></ion-icon>
        </ion-button>
        <ion-popover trigger="popover-button" [dismissOnSelect]="true">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item [button]="true" [detail]="false" (click)="resetear()">Reset</ion-item>
                <ion-item [button]="true" [detail]="false"(click)="mostrarAcerca()">Acerca De</ion-item>
                <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
                  <ng-template>
                    <ion-content>
                      <ion-list>
                        <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                      </ion-list>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Imagen en el lado izquierdo -->
      <ion-col size="6">
        <!-- Contenedor principal -->
        <div class="image-container">
          <!-- Imagen de fondo (medidor) -->
          <img src="assets/fondo.png" alt="Medidor" class="background-image">

          <!-- Imagen superpuesta (coche frontal) -->
          <img id="frontalImage" src="assets/carro_frontal.png" alt="Coche Frontal" class="overlay-image rotate"
            [style.transform]="'rotate(' + inclinacionFrontal + 'deg)'">

          <!-- Texto debajo de las imágenes -->
          <div class="caption caption-bold" style="top: 70%;">Pitch :</div>
          <div class="caption" style="top: 73%;">{{ inclinacionFrontal }}</div>
        </div>
      </ion-col>

      <!-- Imagen en el lado derecho -->
      <ion-col size="6">
        <!-- Contenedor principal -->
        <div class="image-container">
          <!-- Imagen de fondo (medidor) -->
          <img src="assets/fondo.png" alt="Medidor 2" class="background-image">

          <!-- Imagen superpuesta (coche frontal) -->
          <img id="lateralImage" src="assets/carro_lateral.png" alt="Coche Lateral" class="overlay-image rotate lat"
            [style.transform]="'rotate(' + inclinacionLateral + 'deg)'">

          <!-- Texto debajo de las imágenes -->
          <div class="caption caption-bold" style="top: 70%;">Roll:</div>
          <div class="caption" style="top: 73%;">{{ inclinacionLateral }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



